.shoes-gallery {
    padding: 20px;
    text-align: center;
    background-color: #F5FBFF;
  }
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .shoe-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

.shoe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
  
  .shoe-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

.shoe-card p {
  font-size: 1.1em;
  color: #333;
  margin: 10px 0;
}

.card-top {
  position: relative;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f66;
  font-size: 24px;
  cursor: pointer;
}

.card-bottom {
  padding: 10px 0;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.star-icon {
  color: orange;
}

.price-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-cart p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.price-cart span {
  font-size: 12px;
  color: #888;
}

.cart-icon {
  font-size: 20px;
  color: #ff5e00;
  cursor: pointer;
}
  