.about{
    margin: 70px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.about-left{
    flex-basis: 40%;
    position: relative;
}

.about-left img{
    width: 100%;
    border-radius: 10px;
}

.about-img-2{
    position: absolute;
    top: 40px;
    left: 100px;
    transform: rotate(2deg);
    width: 95%;
}

.about-right{
    flex-basis: 56%;
}

.about h3{
    font-weight: 300;
    font-size: 60px;
    color: #212EA0;
}

.about h2{
    font-size: 30px;
    color: #000F38;
    margin: 10px 0;
    max-width: 400px;
}

.about p{
    color: #676767;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 2;
}

@media (max-width: 1024px){
    .about{
        width: 95%;
    }
    .about-left{
        flex-basis: 45%;
    }
    .about-right{
        flex-basis: 50%;
    }
    .about h3{
        font-size: 40px;
    }
    .about h2{
        font-size: 24px;
    }
}

@media (max-width: 800px){
    .about{
        flex-direction: column;
    }
    .about-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .about-right{
        flex-basis: 100%;
        padding: 20px;
    }

    .about-img-2{
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
}

@media (max-width: 600px){
    .about h3{
        font-size: 30px;
    }
    .about h2{
        font-size: 20px;
    }
    .about p{
        font-size: 14px;
    }
}
