.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 80px 10%;
}

.about-left{
    flex-basis: 46%;
}

.about-left img {
  width: 100%;
  max-width: 320px;
  height: auto;
  transform: rotate(-5deg);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.about-right {
  background: #fff;
  padding: 40px 50px;
  border-radius: 10px;
  max-width: 800px;
  flex-basis: 50%;
  line-height: 1.5;
}

.about h3 {
  font-weight: 300;
  font-size: 60px;
  color: #212ea0;
}

.about h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: #0b0b0b;
}

.about p {
  line-height: 1.6;
  color: #444;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .about {
    width: 95%;
  }
  .about-left {
    flex-basis: 45%;
  }
  .about-left img {
    max-width: 280px;
  }
  .about-right {
    flex-basis: 50%;
  }
  .about h3 {
    font-size: 40px;
  }
  .about h2 {
    font-size: 24px;
  }
}

@media (max-width: 800px) {
  .about {
    flex-direction: column;
    padding: 60px 5%;
  }
  .about-left {
    flex-basis: 100%;
    margin: 20px;
    order: 2;
  }
  .about-left img {
    max-width: 250px;
  }
  .about-right {
    flex-basis: 100%;
    padding: 20px;
  }

  .about-img-2 {
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }
}

@media (max-width: 600px) {
  .about {
    padding: 40px 3%;
  }
  .about-left img {
    max-width: 200px;
  }
  .about h3 {
    font-size: 30px;
  }
  .about h2 {
    font-size: 20px;
  }
  .about p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .about {
    padding: 30px 2%;
  }
  .about-left img {
    max-width: 180px;
  }
  .about-right {
    padding: 15px;
  }
  .about h3 {
    font-size: 24px;
  }
  .about h2 {
    font-size: 18px;
  }
}
